body{background-color: #4583b4;
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
}

.small-container{background-color: #2a4e6e;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    padding: 0;
    margin: auto;
    margin-top: 70px;
}

.login{ font-size: 30px;
    text-align: center;
    padding: 10px;
    padding-top: 50px;
    margin-left: auto;
    color: white;
}

.email{ border-style: none;
    border-bottom: solid gray 2px;
    width: 400px;
    height: 50px;
    margin-left: 50px;
    margin-bottom: 50px ;
    font-family: "Playfair Display", serif;
    font-size: 20px; font-weight: 500;
    background-color: #2a4e6e ;
}

.password{ border-style: none;
    border-bottom: solid gray 2px;
    width: 400px;
    height: 50px;
    margin-left: 10%;
    margin-bottom: 50px ;
    font-family: "Playfair Display", serif;
    font-size: 20px; font-weight: 500;
    background-color: #2a4e6e ;
}

.button{ border-style: none;
    border-radius: 5px;
    text-align: center;
    width: 400px;
    height: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
    font-family: "Playfair Display", serif;
    font-size: 15px; font-weight: 500;
    background-color:#aed8e4;
}
.register{color: white;
    margin-left: 50px;


}